
extends ../../head_standard_mata.pug
block properties  
        // Site Properties
        title Login Example - Semantic
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/reset.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/site.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/container.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/grid.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/header.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/image.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/menu.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/divider.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/segment.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/form.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/input.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/button.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/list.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/message.css")
        link(rel="stylesheet", type="text/css", href="/semantic/out/components/icon.css")
          
        script(src="/semantic/out/components/form.js")
        script(src="/semantic/out/components/transition.js")
        style(type="text/css").
            body {
            background-color: #FFCA05;
            }
            body > .grid {
            height: 100%;
            }
            .column {
            max-width: 450px;
            margin: 30px;
            }
            .content {
              color: #06776C;
              margin-top: 50px;
              margin-bottom: 30px;
            }
            #logo {
              margin: 20px;
            }

block content
        .ui.middle.aligned.center.aligned.grid
            .column
                h2.ui.teal.header
                    .content
                        |  참가 원장님 등록 페이지 입니다.
                form(action='/auth/register', method='post').ui.large.form
                    .ui.stacked.segment
                        .field
                            .ui.left.icon.input
                                i.user.icon
                                input(type="text", name="username", placeholder="성함을 입력해주세요.")
                        .field
                            .ui.left.icon.input
                                i.lock.icon
                                input(type="password", name="password", placeholder="비밀번호")
                        .field
                            .ui.left.icon.input
                                i.lock.icon
                                input(type="password", name="passwordverify", placeholder="비밀번호확인")
                        .field
                            .ui.left.icon.input
                                i.phone.icon
                                input#cellMobile(type='text', name='phone', placeholder='휴대전화번호', maxlength='13')
                        .field
                            .ui.left.icon.input
                                i.mail.icon
                                input(type="text", name="email", placeholder="E-mail address")
                        .field
                            .ui.left.icon.input
                                i.reddit.alien.icon
                                input(type="text", name="displayName", placeholder="캠퍼스 이름")

                        .ui.fluid.large.teal.submit.button 등록
                    .ui.error.message
                .ui.message
                    | 계정이 있으신가요?  
                    a(href="/auth/login") 로그인하기
                svg#logo.image(viewbox='0 0 45 41', width='80')
                  use(xlink:href='/public/svg/black.svg#Page-1')
                footer.footer
                  .ui.horizontal.divider
                    | 등록시스템 관련 문의
                  |  뮤엠 이천신하센터 010-3712-0288, 031-632-0907 
          
        script.
            $(document)
            .ready(function() {
            $('.ui.form')
            .form({
            fields: {
            
            name: {
            identifier  : 'name',
            rules: [
            {
            type   : 'empty',
            prompt : '이름을 입력해주세요'
            }
            ]
            },
            
            email: {
            identifier  : 'email',
            rules: [
            {
            type   : 'empty',
            prompt : 'e-mail을 입력해주세요'
            },
            {
            type   : 'email',
            prompt : '정확한 e-mail을 입력해주세요'
            }
            ]
            },
            
            campusName: {
            identifier  : 'displayName',
            rules: [
            {
            type   : 'empty',
            prompt : '캠퍼스 이름을 입력해주세요'
            }
            ]
            },
            
            password: {
            identifier  : 'password',
            rules: [
            {
            type   : 'empty',
            prompt : '비밀번호를 입력하세요'
            },
            {
            type   : 'length[4]',
            prompt : '비밀번호 자리수는 4개 이상 입력되어야 합니다.'
            }
            ]
            },
            
            passwordverify: {
            identifier  : 'passwordverify',
            rules: [
            {
            type   : 'match[password]',
            prompt : '비밀번호가 다릅니다.'
            }
            ]
            }
            
            }
            })
            ;
            })
            ;
            
            function autoHypenPhone(str){
            str = str.replace(/[^0-9]/g, '');
            var tmp = '';
            if( str.length < 4){
            return str;
            }else if(str.length < 7){
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3);
            return tmp;
            }else if(str.length < 11){
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 3);
            tmp += '-';
            tmp += str.substr(6);
            return tmp;
            }else{
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 4);
            tmp += '-';
            tmp += str.substr(7);
            return tmp;
            }
            return str;
            }
            var cellMobile = document.getElementById('cellMobile');
            cellMobile.onkeyup = function(event){
            event = event || window.event;
            var _val = this.value.trim();
            this.value = autoHypenPhone(_val) ;
            }          
